body,
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

body.default {
  --color-primario: #3b82f6;
  --bg: #f9fdc4;
  --color: black;
  --font: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Helvetica, Arial, sans-serif;
  --menu: #ffffff;
  --footer: #ffffff;
  --queHago: #3b82f6;
  --proyectos: #ffffff;

  --a-color: #1d4ed8;
  --a-hover: #1e40af;
  --a-decoration: underline;
  --a-font-weight: 400;
}

body.formal {
  --color-primario: #3b82f6;
  --color-hamburguesa: #3b82f6;
  --bg: white;
  --color: black;
  --font: 'Playfair Display', 'Georgia', 'Times New Roman', serif;
  --menu: #f1f0e8;
  --footer: #f1f0e8;
  --queHago: #3b82f6;
  --proyectos: #f1f0e8;

  --a-color: #3b82f6;
  --a-hover: #75a9fd;
  --a-decoration: none;
  --a-font-weight: 600;
}

body.redes {
  --color-primario: #c3dfa7;
  --color-secundario: #a0c878;
  --color-hamburguesa: #a0c878;
  --bg: #f0f7d5;
  --color: black;
  --font: 'Fredoka', cursive;
  --font-size-base: 22px;
  --menu: #c3dfa7;
  --footer: #282e38;
  --queHago: #a0c878;
  --proyectos: #f4fcf7;
  --bg-boton: #f4fcf7;

  --a-color: #fd8975;
  --a-hover: #fd8975;
  --a-decoration: none;
  --a-font-weight: 800;
}

body {
  background-color: var(--bg);
  color: var(--color);
  font-family: var(--font);
  font-size: var(--font-size-base, 16px);
}

.hamburguesa {
  background-color: var(--color-hamburguesa);
  border-color: var(--color-primario);
}

.queHago {
  color: var(--queHago);
}

.img-responsive {
  box-shadow: 10px 10px 5px var(--color-primario);
}

.img-redonda {
  border-radius: 50%;
}

.img-border {
  color: var(--menu);
}

a {
  color: var(--a-color);
  text-decoration: var(--a-decoration);
  font-weight: var(--a-font-weight);
  transition: color 0.3s ease;
}

a:hover {
  color: var(--a-hover);
}

.bg-menu {
  background-color: var(--menu);
}

.bg-boton {
  background-color: var(--bg-boton);
  color: var(--a-color);
  border-color: var(--color-primario);
  border-width: 1px;
}

.p-inputtext.rd-focus:focus,
.p-inputtext.rd-focus:hover {
  outline: none !important;
  box-shadow: 0 0 0 2px var(--color-primario) !important;
  border-color: var(--color-primario) !important;
}

.p-button.rd-focus:focus,
.p-button.rd-focus:active,
.p-button.rd-focus:hover {
  outline: none !important;
  box-shadow: none !important;
  border-color: none !important;
}

.p-dropdown.no-highlight:hover,
.p-dropdown.no-highlight.p-focus,
.p-dropdown.no-highlight:focus,
.p-dropdown.no-highlight:focus-within {
  outline: none !important;
  box-shadow: 0 0 0 2px var(--color-primario) !important;
  border-color: var(--color-primario) !important;
}

.bg-proyectos {
  background-color: var(--proyectos);
}

.bg-footer {
  background-color: var(--footer);
}
